<h2>Create User</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label>First Name:</label>
    <input
      type="text"
      [(ngModel)]="user.firstName"
      name="firstName"
      required
      maxlength="100"
      pattern="^[A-Za-z]+$"
    />
  </div>
  <div>
    <label>Last Name:</label>
    <input
      type="text"
      [(ngModel)]="user.lastName"
      name="lastName"
      required
      maxlength="100"
      pattern="^[A-Za-z]+$"
    />
  </div>
  <div>
    <label>Email:</label>
    <input
      type="email"
      [(ngModel)]="user.email"
      name="email"
      required
      email
    />
  </div>
  <button type="submit">Submit</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
<a routerLink="/users">Back to User List</a>
